
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: transparent;

}

body{
    transition: background-color 1s ease-out;
}

html{
    font-size: 62.5%;
    scroll-snap-type: y proximity;   
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

:root{
    
    --fs-heading-base: clamp(4rem, 12vw + 1rem , 12rem);
    --fibo: 1.618;
    --white: #FFFFFF;
    --black: #000000;
    --dark-grey: #1E1E1E;
    --flat-grey: #434343;
    --mid-grey: #565656;
    --light-grey: #9A9A9A;
    --extra-light-grey: #D0D0D0;
    --accent: #DEF71C;
}

section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
   
}



button {
    background-color: transparent;
    border-radius: 2.5rem;
    border: 1px solid white;
    
}

button:hover{
    border: 1px solid #DEF71C;
    a{
        color:#DEF71C;
    }
}


::-webkit-scrollbar{
    display: none;

}

body::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.03;
    z-index: 1;
    pointer-events: none;
    background: url(../assets/noise.gif) ;  
    flex-grow: 1;
  }
svg {
    width: 1.5rem;
    aspect-ratio: 1/1;   
}
h1, h2 , h3 , h4 , h5{
font-family: 'Arial', sans-serif;
display: inline-block;
line-height: 1;
filter: blur(0.06rem);
color: white;
}

h1{
    font-size: var(--fs-heading-base) ;
}

h2{
    font-size: var(--fs-heading-base) ;
}

h3 {
    font-size: clamp(2rem , 2vw + 1rem , 4rem);
}

h4{
    font-size: 1.5rem;
}

p,a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    color: white;
    filter: blur(0.05rem);
    font-size: 1.5rem
    }

    .section_copy{
        font-size: 2rem;
    }


.bold{
    font-weight: bold;
}

.hidden{
    display: none !important;
}

.container{
    padding: 3%;  
}

.flx-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1%;
}
.flx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2%;
}

.flx-row{
    display: flex;
    flex-direction: row;
}

.flx-nowrap{
    display:flex;
    align-items: center;
    gap:2%;
}

.flx_column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 2%
}

.flx_items{
    height: fit-content;
    align-items: flex-start;
    padding-top: 5%;
}

.flx_item{
    padding-block: 2%;
    
}


.notFound {
    padding: 10%;
    button{
        margin-top:5%;
        width: 20%;
        height: 4.5rem;
        border: 1px solid white;
        a {
            color: white;
        }
        h1, h2 {
            color: white;
            
            }
    }
}






/***************************mediaquerys*************************************************/

@media all and (max-height: 450px) {
    .flx{
        flex-wrap: nowrap;
    }
    .flx-reverse {
        flex-wrap: nowrap;
    }
    h1, h2{
        font-size: clamp(2rem, 5vw + 1rem , 4rem);
    }
    h3 {
        font-size: 2rem;
    }
    h4{
        font-size: 1.7rem;
    }
    p, a{
        font-size: 1.5rem;
    }

    .section_copy{
        font-size: 2rem;
    }
    .flx_item{
        width: 30vw;
    }
}



@media all and (min-width: 600px){

    
    .flx_item{
        width: 30vw;
    }

    .flx_column{
        flex-direction: row;
    }
    
}


    


@media all and (orientation:landscape) and ( min-width: 900px) {
    .flx {
      flex-wrap: nowrap;
    }
    .flx-reverse {
        flex-wrap: nowrap;
    }

    h1{
        font-size: 6rem;
    }

    .secondary_heading{
        font-size: 6rem;
    }
    .sub_heading{
        font-size: 2rem;
    }
    
  }

  @media all and (min-width: 1190px){
    h1{
        font-size: clamp(8rem, 6vi + 1rem , 20rem);
    }
  }

  article{
    padding-bottom: 0%;
  }

  @media all and (min-width:1280px){
    .sub_heading{ font-size: 1.6rem;}
    .flx_item{
        width: 11vw;
    }  
    
}




